@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(180, 29%, 50%);
  --color-neutral-one: hsl(180, 52%, 96%);
  --color-neutral-two: hsl(180, 31%, 95%);
  --color-neutral-three: hsl(180, 8%, 52%);
  --color-neutral-four: hsl(180, 14%, 20%);
  border-radius: 50%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  max-width: 1440px;
  background: var(--color-neutral-one);
}

.header {
  background-image: url(images/bg-header-mobile.svg);
  height: 20vh;
  background-color: var(--color-primary);
  background-size: 100%;
  margin-bottom: 4rem;
}

.jobs {
  max-width: 88%;
  margin: 0 auto;
}

.job {
  background: white;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  position: relative;
  padding: 2rem;
  box-shadow: 1rem 1rem 1rem hsla(180, 29%, 50%, 0.15);
}

.company-img {
  position: absolute;
  width: 50px;
  top: -2rem;
  left: 5%;
}
.company {
  margin: 2.5rem 0;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  gap: 1rem;
}

.company-name {
  color: var(--color-primary);
  font-weight: 900;
}

.new {
  background: var(--color-primary);
  color: var(--color-neutral-one);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured {
  background: black;
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.role {
  font-size: 1.5rem;
  color: var(--color-neutral-four);
  margin-bottom: 1.5rem;
}

.job-listing {
  gap: 2rem;
  color: var(--color-neutral-three);
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.location {
  position: relative;
}

hr {
  margin-bottom: 1.5rem;
  color: var(--color-neutral-one);
}

.tags {
  gap: 1.5rem;
  flex-wrap: wrap;
  font-weight: 900;
  color: var(--color-primary);
}

.tags span {
  background: hsla(180, 29%, 50%, 0.1);
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
}

.location,
.contract {
  position: relative;
}

.location::before,
.contract::before {
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  background: var(--color-neutral-four);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15%;
  border-radius: 50%;
}

/* UTILITIES */

.flex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  hr {
    display: none;
  }

  .company-img {
    width: 85px;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
  }

  .job {
    padding-left: 14rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .company {
    font-size: 1.5rem;
  }

  .role {
    font-size: 1.8rem;
  }

  .job-listing {
    font-size: 1.5rem;
  }

  .upper-class-name {
    display: flex;
    justify-content: space-between;
  }
}
